# Test - Types

In [1]:
from datetime import datetime
from macrobond_data_api.common.types._repr_html_sequence import _ReprHtmlSequence
from macrobond_data_api.common.enums import MetadataAttributeType
from macrobond_data_api.common.types import (
    SearchFilter,
    SearchResult,
    StartOrEndPoint,
    SeriesEntry,
    MetadataValueInformation,
    MetadataAttributeInformation,
    MetadataValueInformationItem,
    RevisionInfo,
    VintageSeries,
    Series,
    Entity,
    UnifiedSeriesList,
    GetAllVintageSeriesResult,
    SeriesObservationHistory,
    SeriesWithVintages,
    RevisionHistoryRequest,
)
from macrobond_data_api.common.types import SearchResultLong
from macrobond_data_api.web.web_types.subscription_list import SubscriptionList

## metadata

In [2]:
SearchResult(
    [
        {"name": "name1", "data": 1},
        {"name": "name2", "data": 2},
        {"name": "name2", "data": 2, "meta4": 4},
    ],
    False,
)

SearchResult(entities=[{'name': 'name1', 'data': 1}, {'name': 'name2', 'data': 2}, {'name': 'name2', 'data': 2, 'meta4': 4}], is_truncated=False)

In [3]:
MetadataValueInformation(
    [
        MetadataValueInformationItem("Name", 1, "description ", "comment"),
        MetadataValueInformationItem("Name", 2, "description ", "comment"),
    ],
    "Name",
)

MetadataValueInformation(entities=[MetadataValueInformationItem(attribute_name='Name', value=1, description='description ', comment='comment'), MetadataValueInformationItem(attribute_name='Name', value=2, description='description ', comment='comment')], attribute_name='Name')

In [4]:
_ReprHtmlSequence(
    [
        MetadataAttributeInformation(
            "name 1", "description", "comment", MetadataAttributeType.DOUBLE, True, True, True, True
        ),
        MetadataAttributeInformation(
            "name 2", "descriptionsssssssssssssssss", "comment", MetadataAttributeType.INT, True, True, True, True
        ),
    ]
)

,name,description,comment,value_type,uses_value_list,can_list_values,can_have_multiple_values,is_database_entity
0,name 1,description,comment,DOUBLE (float),True,True,True,True
0,name 2,descriptionsssssssssssssssss,comment,INT (int),True,True,True,True

In [5]:
_ReprHtmlSequence(
    [
        MetadataValueInformationItem("name 1", 2, "description", "comment"),
        MetadataValueInformationItem("name 2", 2, "description", None),
    ]
)

  attribute_name  value  description  comment
0         name 1      2  description  comment
0         name 2      2  description     None

## revision

In [6]:
_ReprHtmlSequence(
    [
        RevisionInfo(
            "name 1",
            "",
            True,
            False,
            datetime(1000, 1, 1),
            datetime(1000, 1, 1),
            [datetime(1000, 1, 1), datetime(1000, 2, 2)],
        ),
        RevisionInfo(
            "name 2",
            "",
            True,
            False,
            datetime(1000, 1, 1),
            datetime(1000, 1, 1),
            [datetime(2000, 1, 1), datetime(2000, 2, 2), datetime(2000, 3, 3)],
        ),
        RevisionInfo("name 3", "error_message", False, False, None, None, []),
    ]
)

,name,error_message,stores_revisions,has_revisions,time_stamp_of_first_revision,time_stamp_of_last_revision,vintage_time_stamps
0,name 1,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,1000-01-01 00:00:00
1,name 1,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,1000-02-02 00:00:00
0,name 2,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,2000-01-01 00:00:00
1,name 2,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,2000-02-02 00:00:00
2,name 2,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,2000-03-03 00:00:00

In [7]:
_ReprHtmlSequence([VintageSeries()])

TypeError: __init__() missing 7 required positional arguments: 'name', 'error_message', 'metadata', 'values_metadata', 'values', 'dates', and '_revision_time_stamp'

In [ ]:
_ReprHtmlSequence([Series()])

In [ ]:
GetAllVintageSeriesResult()

In [ ]:
_ReprHtmlSequence([SeriesObservationHistory()])

In [ ]:
_ReprHtmlSequence([SeriesWithVintages()])

## Search

In [ ]:
SearchResult()

## Series

In [ ]:
Series()

In [ ]:
_ReprHtmlSequence([Series(), Series()])

In [ ]:
Entity()

In [ ]:
_ReprHtmlSequence([Entity(), Entity()])

In [ ]:
UnifiedSeriesList()

## web only

In [ ]:
SubscriptionList()

In [ ]:
SearchResultLong()