# Test - Types

In [1]:
from datetime import datetime
from macrobond_data_api.common.types._repr_html_sequence import _ReprHtmlSequence
from macrobond_data_api.common.enums import MetadataAttributeType
from macrobond_data_api.common.types import (
    SearchFilter,
    SearchResult,
    StartOrEndPoint,
    SeriesEntry,
    MetadataValueInformation,
    MetadataAttributeInformation,
    MetadataValueInformationItem,
    RevisionInfo,
    VintageSeries,
    Series,
    Entity,
    UnifiedSeriesList,
    UnifiedSeries,
    GetAllVintageSeriesResult,
    SeriesObservationHistory,
    SeriesWithVintages,
    SeriesWithVintagesErrorCode,
)
from macrobond_data_api.common.types import SearchResultLong
from macrobond_data_api.web.web_types.subscription_list import SubscriptionList

## metadata

In [2]:
SearchResult(
    [
        {"name": "name1", "data": 1},
        {"name": "name2", "data": 2},
        {"name": "name2", "data": 2, "meta4": 4},
    ],
    False,
)

SearchResult(entities=[{'name': 'name1', 'data': 1}, {'name': 'name2', 'data': 2}, {'name': 'name2', 'data': 2, 'meta4': 4}], is_truncated=False)

In [3]:
MetadataValueInformation(
    [
        MetadataValueInformationItem("Name", 1, "description ", "comment"),
        MetadataValueInformationItem("Name", 2, "description ", "comment"),
    ],
    "Name",
)

MetadataValueInformation(entities=[MetadataValueInformationItem(attribute_name='Name', value=1, description='description ', comment='comment'), MetadataValueInformationItem(attribute_name='Name', value=2, description='description ', comment='comment')], attribute_name='Name')

In [4]:
_ReprHtmlSequence(
    [
        MetadataAttributeInformation(
            "name 1", "description", "comment", MetadataAttributeType.DOUBLE, True, True, True, True
        ),
        MetadataAttributeInformation(
            "name 2", "descriptionsssssssssssssssss", "comment", MetadataAttributeType.INT, True, True, True, True
        ),
    ]
)

,name,description,comment,value_type,uses_value_list,can_list_values,can_have_multiple_values,is_database_entity
0,name 1,description,comment,DOUBLE (float),True,True,True,True
0,name 2,descriptionsssssssssssssssss,comment,INT (int),True,True,True,True

In [5]:
_ReprHtmlSequence(
    [
        MetadataValueInformationItem("name 1", 2, "description", "comment"),
        MetadataValueInformationItem("name 2", 2, "description", None),
    ]
)

  attribute_name  value  description  comment
0         name 1      2  description  comment
0         name 2      2  description     None

## revision

In [6]:
_ReprHtmlSequence(
    [
        RevisionInfo(
            "name 1",
            "",
            True,
            False,
            datetime(1000, 1, 1),
            datetime(1000, 1, 1),
            [datetime(1000, 1, 1), datetime(1000, 2, 2)],
        ),
        RevisionInfo(
            "name 2",
            "",
            True,
            False,
            datetime(1000, 1, 1),
            datetime(1000, 1, 1),
            [datetime(2000, 1, 1), datetime(2000, 2, 2), datetime(2000, 3, 3)],
        ),
        RevisionInfo("name 3", "error_message", False, False, None, None, []),
    ]
)

,name,error_message,stores_revisions,has_revisions,time_stamp_of_first_revision,time_stamp_of_last_revision,vintage_time_stamps
0,name 1,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,1000-01-01 00:00:00
1,name 1,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,1000-02-02 00:00:00
0,name 2,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,2000-01-01 00:00:00
1,name 2,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,2000-02-02 00:00:00
2,name 2,,True,False,1000-01-01 00:00:00,1000-01-01 00:00:00,2000-03-03 00:00:00

In [7]:
_ReprHtmlSequence(
    [
        VintageSeries(
            "name 1",
            None,
            {},
            None,
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
            datetime(1234, 12, 11),
        ),
        VintageSeries(
            "name 2",
            None,
            {},
            None,
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
            datetime(1234, 12, 11),
        ),
        VintageSeries("name 2", "eroror !", None, None, None, None, None),
    ]
)

VintageSeries(name='name 1', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

VintageSeries(name='name 2', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

VintageSeries(name='name 2', error_message='eroror !', metadata={}, values_metadata=None, values=[], dates=[])

In [8]:
GetAllVintageSeriesResult(
    [
        VintageSeries(
            "name",
            None,
            {},
            None,
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
            datetime(1234, 12, 11),
        ),
        VintageSeries(
            "name",
            None,
            {},
            None,
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
            datetime(1234, 12, 11),
        ),
    ],
    "name",
)

GetAllVintageSeriesResult(series=[VintageSeries(name='name', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)]), VintageSeries(name='name', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])], series_name='name')

In [9]:
_ReprHtmlSequence(
    [
        SeriesObservationHistory(
            datetime(1234, 12, 11),
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
        ),
        SeriesObservationHistory(
            datetime(1234, 12, 11),
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
        ),
    ]
)

SeriesObservationHistory(observation_date=datetime.datetime(1234, 12, 11, 0, 0), values=[1.0, 2.0, 3.0, 4.0], time_stamps=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

SeriesObservationHistory(observation_date=datetime.datetime(1234, 12, 11, 0, 0), values=[1.0, 2.0, 3.0, 4.0], time_stamps=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

In [10]:
_ReprHtmlSequence(
    [
        SeriesWithVintages("hade a error", SeriesWithVintagesErrorCode.FORBIDDEN, None, []),
        SeriesWithVintages(
            None,
            None,
            {},
            [
                VintageSeries(
                    "name",
                    None,
                    {},
                    None,
                    [1.0, 2.0, 3.0, 4.0],
                    [
                        datetime(1000, 1, 1),
                        datetime(1000, 1, 1),
                        datetime(1000, 1, 1),
                        datetime(1000, 1, 1),
                    ],
                    datetime(1234, 12, 11),
                ),
                VintageSeries(
                    "name",
                    None,
                    {},
                    None,
                    [1.0, 2.0, 3.0, 4.0],
                    [
                        datetime(1000, 1, 1),
                        datetime(1000, 1, 1),
                        datetime(1000, 1, 1),
                        datetime(1000, 1, 1),
                    ],
                    datetime(1234, 12, 11),
                ),
            ],
        ),
    ]
)

SeriesWithVintages(error_text='hade a error', error_code=<SeriesWithVintagesErrorCode.FORBIDDEN: 403>, metadata=None, vintages=[])

SeriesWithVintages(error_text=None, error_code=None, metadata={}, vintages=[VintageSeries(name='name', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)]), VintageSeries(name='name', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])])

## Search

In [11]:
SearchResult([{"name": "name 1"}, {"name": "name 2", "data1": 1}, {"name": "name 2", "data2": 2}], False)

SearchResult(entities=[{'name': 'name 1'}, {'name': 'name 2', 'data1': 1}, {'name': 'name 2', 'data2': 2}], is_truncated=False)

## Series

In [12]:
_ReprHtmlSequence(
    [
        Series(
            "name 1",
            None,
            {},
            None,
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
        ),
        Series(
            "name 2",
            None,
            {},
            None,
            [1.0, 2.0, 3.0, 4.0],
            [
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
                datetime(1000, 1, 1),
            ],
        ),
        Series(
            "name 3",
            "error ",
            None,
            None,
            None,
            None,
        ),
    ]
)

Series(name='name 1', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

Series(name='name 2', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

Series(name='name 3', error_message='error ', metadata={}, values_metadata=None, values=[], dates=[])

In [13]:
Series(
    "name 1",
    None,
    {},
    None,
    [1.0, 2.0, 3.0, 4.0],
    [
        datetime(1000, 1, 1),
        datetime(1000, 1, 1),
        datetime(1000, 1, 1),
        datetime(1000, 1, 1),
    ],
)

Series(name='name 1', error_message='', metadata={}, values_metadata=None, values=[1.0, 2.0, 3.0, 4.0], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 1, 1, 0, 0)])

In [14]:
Entity("name 1", None, {"data1": 1, "data2": [1, 2, 3]})

Entity(name='name 1', error_message='', metadata={'data1': 1, 'data2': [1, 2, 3]})

In [15]:
_ReprHtmlSequence(
    [
        Entity("name 1", None, {"data1": 1, "data2": [1, 2, 3]}),
        Entity("name 1", None, {"data1": 1, "data2": [1, 2, 3]}),
        Entity("name 1", "error_message", None),
    ]
)

Entity(name='name 1', error_message='', metadata={'data1': 1, 'data2': [1, 2, 3]})

Entity(name='name 1', error_message='', metadata={'data1': 1, 'data2': [1, 2, 3]})

Entity(name='name 1', error_message='error_message', metadata={})

In [16]:
UnifiedSeriesList(
    [
        UnifiedSeries("name 1", "", {}, [1.0, 2.0, 3.0, 4.0]),
        UnifiedSeries("name 2", "", {}, [1.1, 2.1, 3.1, 4.1]),
        UnifiedSeries("name 3", "error", {}, []),
    ],
    [
        datetime(1000, 1, 1),
        datetime(1000, 2, 1),
        datetime(1000, 3, 1),
        datetime(1000, 3, 1),
    ],
)

UnifiedSeriesList(series=[UnifiedSeries(name='name 1', error_message='', metadata={}, values=[1.0, 2.0, 3.0, 4.0]), UnifiedSeries(name='name 2', error_message='', metadata={}, values=[1.1, 2.1, 3.1, 4.1]), UnifiedSeries(name='name 3', error_message='error', metadata={}, values=[])], dates=[datetime.datetime(1000, 1, 1, 0, 0), datetime.datetime(1000, 2, 1, 0, 0), datetime.datetime(1000, 3, 1, 0, 0), datetime.datetime(1000, 3, 1, 0, 0)])

## web only

In [17]:
# SubscriptionList({})

KeyError: 'timeStampForIfModifiedSince'

In [ ]:
# SearchResultLong()