# 1.2 - Macrobond web API - Fetching a Time Series

*Retrieving specific observations*

This notebook is designed to act as a template and guidline in which certain elements can be minipulated to get the desired outcome. Here we demonstrates how you can use the web API to pull out observations. 

Macrobond's data contains three objects:
* dates 
* values 
* metadata

We will focus here on understanding the dates and values.

*Full error handling is omitted for brevity*

***

## Importing packages

In [2]:
from macrobond_financial.common import Credentials
from macrobond_financial.web import WebClient

***

## Authentication

If you have a Macrobond's web API account, enter your *client_id* and *client_secret* below.

In [3]:
credentials = Credentials()

***

## Get the data
Our typical workflow starts with retrieving a specific time series.
Feel free to refer to https://api.macrobondfinancial.com/swagger/index.html to get the comprehensive list of web API endpoints and parameters used.

In the example below, we will use time series `ustrad2120`: 
> **United States, Foreign Trade, Energy Information Administration, Crude Oil & Petroleum Products, Export, Petroleum Products, Propane & Propylene**

In [4]:
with WebClient(credentials.client_id, credentials.client_secret) as api:
    data_frame = api.series.get_one_series('ustrad2120').values_and_dates_as_data_frame()
data_frame

      Values                     Dates
0      72000 2010-05-31 00:00:00+00:00
1      72000 2010-06-07 00:00:00+00:00
2      72000 2010-06-14 00:00:00+00:00
3      72000 2010-06-21 00:00:00+00:00
4      72000 2010-06-28 00:00:00+00:00
..       ...                       ...
607  1023000 2022-01-17 00:00:00+00:00
608  1249000 2022-01-24 00:00:00+00:00
609   641000 2022-01-31 00:00:00+00:00
610  1244000 2022-02-07 00:00:00+00:00
611  1273000 2022-02-14 00:00:00+00:00

[612 rows x 2 columns]

***

## Visualising the observations
Let's visualise the dates and values in a Pandas dataframe. 
You will see below the time series with full history. 
Note that Macrobond's database is object-based so you will always retrieve the full arrays of dates and values for the time series you are requesting.

In [ ]:
...

Note that the FetchSeries endpoint allows to request multiple time series in a single request. The format is n=[time_series1]&n=[time_series2].
Feel free to refer to notebook 3.1 - Macrobond web API - Aligning multiple Time Series to understand how you can harmonise the frequency, currency and calendar of multiple time series.