# 2.1 - Macrobond web API - Categories Exploration

*Performing coverage checks based on Macrobond's Categories*

This notebook aims to provide examples of how to use Macrobond's web API call methods as well as insights on the key attributes used to display the output in an understandable format.

We will focus here on using the Search method based on a **Category** input.
Our data is arranged as a logical hierarchy of categories to help you find or narrow down related datasets quickly

*Full error handling is omitted for brevity*

***

## Importing packages

In [1]:
from macrobond_financial.common import Credentials
from macrobond_financial.web import WebClient

***

## Authentication

If you have a Macrobond's web API account, enter your *client_id* and *client_secret* below.

In [2]:
credentials = Credentials()

***

## Get the data
Feel free to refer to https://api.macrobondfinancial.com/swagger/index.html to get the comprehensive list of web API endpoints and parameters used.

In the example below, we are using here the Search endpoint with filters on Category `inea` and Region `gb`: 
> **Income & Earnings - United Kingdom**

Feel free to use the notebook **1.1 - Macrobond web API - Metadata Navigation** to pull out a list of all available categories and regions.

***

## Visualising the data
Let's evaluate Macrobond's coverage for Financial Accounts-related time series in the United Kingdom.

In [3]:
with WebClient(credentials.client_id, credentials.client_secret) as api:
    data_frame = api.search(
        entity_types="TimeSeries",
        must_have_values={"Region": "gb", "category": "inea"},
    ).data_frame(
        columns=[
            "Name",
            "FullDescription",
            "Region",
            "Frequency",
            "Source",
            "FirstRevisionTimeStamp",
        ]
    )
data_frame.head(10)

,Name,FullDescription,Region,Frequency,Source,FirstRevisionTimeStamp
0,oecd_tim_00085140,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN
1,oecd_tim_00134097,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN
2,oecd_tim_00134121,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN
3,oecd_tim_00130440,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN
4,a1dchbmd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN
5,a1lt65bmd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN
6,a1totalpcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN
7,a22dchamd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN
8,a22lt65amd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN
9,a2bmd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN

### We will now focus on the Point-in-Time (PiT) series in this coverage check
Let's isolate the first element of the Region attribute. While most of the time series carry one region only, some can have multiple regions with for instance "gb" and "gb,city_[xxx]".

In [4]:
data_frame["RegionString"] = data_frame["Region"].apply(
    lambda x: ", ".join(map(str, x))
)
data_frame.head(10)

,Name,FullDescription,Region,Frequency,Source,FirstRevisionTimeStamp,RegionString
0,oecd_tim_00085140,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN,gb
1,oecd_tim_00134097,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN,gb
2,oecd_tim_00134121,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN,gb
3,oecd_tim_00130440,"United Kingdom, OECD TiM, Trade in Employment ...",[gb],annual,src_oecd,NaN,gb
4,a1dchbmd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN,gb
5,a1lt65bmd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN,gb
6,a1totalpcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN,gb
7,a22dchamd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN,gb
8,a22lt65amd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN,gb
9,a2bmd60pcukvb,"United Kingdom, Eurostat, Population & Social ...",[gb],annual,src_eustatdb,NaN,gb

### Let's convert the date-time to years only

In [5]:
data_frame["FirstRevisionYear"] = data_frame["FirstRevisionTimeStamp"].str[:4]

### Displaying the new DataFrame
Let's see how our transformations have been applied by isolating on a few columns: `df.iloc[rows,[columns]]`. Note that we are also dropping NaN values in the FirstRevisionDate column: `df.dropna(subset=['FirstRevisionDate'])`

In [6]:
data_frame_final = data_frame.dropna(subset=["FirstRevisionYear"]).iloc[
    0:1000, [0, 1, 6, 3, 4, 7]
]
data_frame_final

,Name,FullDescription,RegionString,Frequency,Source,FirstRevisionYear
10,oecd_stan_00155359,"United Kingdom, OECD STAN, Structural Analysis...",gb,annual,src_oecd,2020
11,oecd_stan_00155416,"United Kingdom, OECD STAN, Structural Analysis...",gb,annual,src_oecd,2020
12,oecd_stan_00155476,"United Kingdom, OECD STAN, Structural Analysis...",gb,annual,src_oecd,2020
13,oecd_stan_00155830,"United Kingdom, OECD STAN, Structural Analysis...",gb,annual,src_oecd,2020
14,oecd_stan_00156091,"United Kingdom, OECD STAN, Structural Analysis...",gb,annual,src_oecd,2020
...,...,...,...,...,...,...
2836,ons_k55q_emp_a,"United Kingdom, ONS, Average Weekly Earnings, ...",gb,annual,src_gbons,2021
2837,ons_k5ey_emp_q,"United Kingdom, ONS, Average Weekly Earnings, ...",gb,quarterly,src_gbons,2020
2838,ons_k5f2_emp_a,"United Kingdom, ONS, Average Weekly Earnings, ...",gb,annual,src_gbons,2021
2839,ons_k5ac_emp_m,"United Kingdom, ONS, Average Weekly Earnings, ...",gb,monthly,src_gbons,2020
2840,ons_eqrp_emp_m,"United Kingdom, ONS, Average Weekly Earnings, ...",gb,monthly,src_gbons,2020

### Group the results by FirstRevisionYear and Frequency
Note that Macrobond started to systematically collect PiT data in 2018. 
PiT coverage prior to 2018 has been backfilled by leveraging the source or internal collection logs.

In [7]:
df_group = (
    data_frame_final.groupby(["FirstRevisionYear", "Frequency"])["Name"]
    .count()
    .reset_index(name="Count")
)
df_group

   FirstRevisionYear  Frequency  Count
0               2015    monthly      2
1               2016    monthly     57
2               2018     annual      3
3               2018    monthly      3
4               2018  quarterly      2
5               2019     annual      1
6               2019    monthly      1
7               2020     annual    179
8               2020    monthly    400
9               2020  quarterly    176
10              2021     annual    147
11              2021    monthly     25
12              2021  quarterly      1
13              2022     annual      3